@font-face {
    font-family: "Walkway";
    src: url("fonts/Walkway_Bold.ttf");
}

@font-face {
    font-family: "Ostrich";
    src: url("fonts/ostrich-regular.ttf");
}

@font-face {
    font-family: "OstrichBold";
    src: url("fonts/ostrich-bold.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Light.otf");
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-SemiBold.ttf");
}

body {
    margin: 0 auto; /* To eliminate pre-existing margins on the page */
    font: 20px 'Quicksand'; /* Font size and font family */
    font-weight: 400; /* Normal weight */
    color: #000000; /* Font color is black */
    background-image: url("images/dark_embroidery.png");
    background-repeat: repeat;
}

header {
    background-color: #b2bebf;
    width: 100%;
    z-index: 2;
    position: fixed;
    display: block;
    height: 60px;
}

div#header-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font: 30px 'Walkway';
    float: left;
    display: inline-block;
}

div#header-title a:link {
    text-decoration: none;
}

div#header-title a:visited {
    text-decoration: none;
}

div#header-title a:hover {
    text-decoration: none;
}

nav {
    display: inline-block;
    float: right;
    font: 35px 'Ostrich';
}

nav ul {
    padding: 0; /* Get rid of padding */ 
    margin: 0; /* Get rid of margin */ 
}

nav li {
    display: inline-block; /* We want the links to appear on the same line */
    margin-left: 10px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    font: 35px 'OstrichBold';
}

main {
    padding-top: 60px;
    display: block;
}

section#welcome {
   width: 100%;
   height: 340px;
   background-image: url('images/nature.jpg');
   background-position: center; /* Change this depending on how you want the image to be positioned */
   position: relative;
}

section#welcome h1{
    font: 50px 'Raleway';
    text-align: center;
}

div#welcome-text {
  width: 100%;
  position: absolute;
    vertical-align: middle;
    z-index: 1;
    font: 30px 'Quicksand';
  text-align: center;
  text-shadow: 2px 2px 2px #000000; /* Add shadow around the text so it is more visible against the background image */ 
}
