@font-face {
    font-family: "Walkway";
    src: url("fonts/Walkway_Bold.ttf");
}

@font-face {
    font-family: "Ostrich";
    src: url("fonts/ostrich-regular.ttf");
}

@font-face {
    font-family: "OstrichBold";
    src: url("fonts/ostrich-bold.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Light.otf");
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-SemiBold.ttf");
}

main { 
  background: url("images/guatemala.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //-webkit-filter: grayscale(100%);
}

body {
    margin: 0 auto; /* To eliminate pre-existing margins on the page */
    font: 20px 'Quicksand'; /* Font size and font family */
    font-weight: 400; /* Normal weight */
    color: #E868AA; /* Font color is black */
    /*background-image: url("images/dark_embroidery.png");*/
    background-repeat: repeat;
}

header {
    background-color: #9194b0;
    width: 100%;
    z-index: 2;
    position: fixed;
    display: block;
    height: 50px;
}

div#header-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font: 30px 'Walkway';
    float: left;
    display: inline-block;
}

div#header-title a:link {
    text-decoration: none;
}

div#header-title a:visited {
    text-decoration: none;
}

div#header-title a:hover {
    text-decoration: none;
}

nav {
    display: inline-block;
    float: right;
    font: 35px 'Ostrich';
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul {
    padding: 0; /* Get rid of padding */ 
    margin: 0; /* Get rid of margin */ 
}

nav li {
    display: inline-block; /* We want the links to appear on the same line */
    margin-right: 10px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    font: 35px 'OstrichBold';
}

main {
    padding-top: 50px;
    display: block;
}

section#welcome {
   width: 100%;
   height: 340px;
   /*background-image: url('images/guatemala.jpg');*/
   background-position: center; /* Change this depending on how you want the image to be positioned */
   overflow-x: hidden;
}

h1{
    color: #E6308E;
    font: 50px 'Raleway';
    text-align: center;
    text-shadow: none;
}

div#welcome-text {
    width: 100%;
    color: #E868AA;
    position: absolute;
    vertical-align: middle;
    z-index: 1;
    font: 30px 'Quicksand';
    text-align: center;
    text-shadow: 2px 2px 2px #000000; /* Add shadow around the text so it is more visible against the background image */ 
}

section#about {
    color: #E868AA;
    width: 100%;
    font: 30px 'Quicksand';
    text-align: center;
    /*text-shadow: 2px 2px 2px #ffffff;*/ /* Add shadow around the text so it is more visible against the background image */
    padding-bottom: 100px;
}

section#square-vid {
    color: #E868AA;
    width: 100%;
    font: 30px 'Quicksand';
    padding-bottom: 100px;
    text-align: center;
}

section#portfolio {
	padding: 30px;
}

div.table {
  display: table;
  table-layout: fixed; /* All cells will have equal width */
  width: 100%;
  text-align: center; /* Centers the table in the section */
}

div.table-row {
	display: table-row;
}

div.table-cell {
	display: table-cell;
	padding: 10px;
}

img.med-rounded {
	border-radius: 30px;
	width: 200px;
	height: 200px;
}

img.med-rounded:hover {
	opacity: 0.5;
}

footer {
	display: block;
	color: #ffffff;
	background-color: #aeadbf;
    width: 100%;
    height: 30px;
	padding-top: 10px;
	margin: 0;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
